html
    head
        link(href="/lib/bootstrap.css",rel="stylesheet")
        title Jade Demo
    body
        //h1 Express Web App
        include ./partials/header

        .container
            block content
        
        .container
            include ./partials/footer