<header>
    <nav>
        <div class="container">
            <div class="nav navbar-inverse">
                <div class="navbar-brand">
                    Express Web
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/products">Products</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>